VITE_API_URL=< URL DEL BACKEND, CON NGROK O LOCALHOST CON PREFIJO /api/v1>
VITE_APP_ENV=dev # dev o prod
VITE_WS_URL=< URL DEL WEBSOCKET, CON NGROK O LOCALHOST CON PREFIJO /ws/pedidos> #usar wss en producción y ws en desarrollo
